.button-wrapper {
  display: flex;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding: 0.5rem 1rem;

  border-radius: 0.25rem;
}

.button-primary {
  background: #116A8D;
  color: #F5F5F5;
}

.button-secondary {
  background: #FFF;
  border: 1px solid #116A8D;
  color: #116A8D;
}

.button-iconOnly {
  padding: 0.63rem;
}

.button-text{
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}