.container {
    display: flex;
    flex-grow: 1;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 70.108rem;
    padding-left: 2.97rem;
    padding-top: 3.37rem;
}