.gear-list-table-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gear-list-table-title {
  margin: 0px;
}

.gear-list-table {
  border-collapse: collapse;
  border-spacing: 0px;
}

.gear-list-table-thead {
  background-color: #D9D9D9;
  height: 3.5rem;
  text-align: left;
}

.gear-list-table-th {
  border: none;
  padding: 1rem;
  flex: 1 0 0;
  font-weight: 700;
}

.gear-list-table-th-shrink {
  border: none;
  padding: 1rem;
  flex-shrink: 0;
  font-weight: 700;
}

.gear-list-table-tr {
  border-bottom: 1px solid #DEDEDE;
}

.gear-list-table-td {
  padding: 1.25rem 1rem;
  flex: 1 0 0;
  font-weight: 400;
}

