.TemplateContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.TemplateBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1.5rem;
    column-gap: 1.375rem;
}

.TemplateCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1 0 0;
    align-self: stretch;

    border-radius: 0.5 rem;
    background: #F5F5F5;
}