.styledDropdown-ul {
  padding: 0;
  margin: 0;

  list-style-type: none;
  border: 1px solid #000000
}

.styledDropdown-wrapper {
  position: absolute;
  top: 50%;
  left: 120%;
  transform: translateY(-50%);
}

.styledDropdown-li {
  padding: 0.625rem;
}